/*IMPORTAÇÃO DEFONTES*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin:0px; /* Margen externa*/
    padding:0px; /*Margen Interna*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
body{
    background-image: url("imagem/CEU\ AZUL.jpg");
    background-size: cover;
    background-repeat: no-repeat;      
}

/* MENU DE NAVEGAÇÃO PRINCIPAL*/
.menu{ 
    background: #0C70F2;
    padding: 0.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.tempo {
    display: flex;
    justify-content: space-around;
}
  #principal h1{
    font-family: inter;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-left: 25px;
    
   

}
  #principal  a{
    font-family: inter;
    font-size: 25px;
    font-weight: 600px;
    color: white;
    align-items: center;
    
    

} 
a {
    text-decoration:none;   
}
  
a:before {
    content: "|";
    
}

a:first-child:before {
    content: none;
    text-decoration:none; 
}


.tempo {
    display:flex;
    justify-content: space-around;
    font-size: 20px;
    
      

}


#textoprincipal {
    margin-left: 1%;
    margin-top: 100px;
    font-size: 200%;
    text-align: left;
    font-family: inter;
    font-weight: 700;
    color: rgb(39, 35, 31);
    
    
}

/* Formulario */
.container1 {
    display:flex;
    justify-content: center;
    align-items: center;
    
       
        
}
#centro {
    background-color: #FFFFFF;
    padding:2%;
    border-radius: 15px;
}
   


.form-group{
    display: flex;
    flex-direction: column;
    font-size: 30px;
   
    
}
.form-group input {
    background-color: #F2F2F2;
    border: 0px;
    border-radius: 10px;
    font-size: 70%;
    padding-left: 15px;
         
       
    
}


.container1 h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    color: #000000;
    
}
.form-latlog {
    display: flex;
    gap: 5%;
    border: 0px;
    border-radius: 15px;
    width: 70%;
    height: 30px;
    margin: 10px;
    
    
}
    
.form-latlog input {
    background-color: #F2F2F2;
    border-radius: 15px;
    border: 0px;
    text-align: center;
    font-size: 90%;
    margin-left: 20px;
      
            
       
}

/* DEFINIR AS QUATROS POSIÇÕES DOS INPUT CIMA, DIREITA,BAIXO e ESQUERDA*/

.container {
    
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    
    
        
}

#endereco {
    display: flex;
    justify-content: space-around;
    background: #0C70F2;
    color: rgb(255,255,255);
    width: auto;
    height: 72px;
    left: 302px;
    border-radius: 30px 30px 0px 0px;
    align-items: center;
    
    
}

ul {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: center;
    margin-top: 25px;
    color:rgb(255,255,255)
}
#resultado01 {
    display: flex;
    justify-content: center;
    background: #ffffff;
    font-size: 20;
    width: auto;
    height: 72px;
    top: 2124px;
    left: auto;
    opacity: 0px;
    border-radius: 0px 0px 30px 30px;
    

}
#resultado01 input {
background-color: #FFFFFF;
margin-top: 5%;
margin-right: 100px;
margin-left: 23%;
border: 0;
font-size: 20px;
text-align: center;
width: 70%;
height: 50%;


}
button {
    background-color: #0C70F2;
    font-family: inter;
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 30px 30px 30px 30px;
    color: rgb(255,255,255);
    justify-items: center;
    margin-top: 5%;
    margin-left: 15%;
    border: 0px;
    
}

#prev-tempo {
    margin-top: 20%;
    font-size: 250%;
    left: auto;    
}
.imagem {
    display: flex;
    justify-content:center
}
#img {
    width: 15%;
    margin-top: 20px;
    padding: auto;

}
.resultado2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    top: 2124px;
    left: 302px;
    border-radius: 15px 15px 15px 15x;
    opacity: 0px;
    color: #000000;
    
}

#resposta {
    background-color:#0C70F2;
    width: 300px;
    height: 200px;
    text-align: 10px;
    font-size: 40px;
    border-radius: 30px 30px 30px 30px;
}



#rodape{ 
    background: #0C70F2;
    padding: 0.5%;
    width:100%; 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: end;
    color: #eedfdf;
    font-size: 30px;
    
  
}
#termo ul a {
    display: inline;
    font-size: 30px;
    color:rgb(255,255,255);
}
a:before {
    content: "|";
}
a:first-child:before {
    content: none;
    text-decoration:none;    	
      	  	
}

a {  		
        text-decoration:none;    	
}  	






